h1 {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-grow: 1;
text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  background-color:#DCA932;
}

nav a:hover {
  background-color: #DBDBDB;
}
nav a.active {
  color: #039be5;
}

nav{
  display: flex;
  // position: fixed;
  // top: 0;
}

